<!DOCTYPE html>
<html lang="en" ng-app="scotchUser" ng-cloak>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../favicon.ico"> -->

  <title>SumComics</title>

  <!-- Bootstrap core, IE10 viewport hack, and custom styles-->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
  <script src="/bootstrap/docs/assets/js/ie-emulation-modes-warning.js"></script>

  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="/js/controllers/main.js"></script> <!-- load up our controller -->
  <script src="/js/services/users.js"></script> <!-- load our user service -->
  <script src="/js/core.js"></script> <!-- load our main application -->

  <!-- ng cloak -->
  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>

</head>

<body ng-controller="mainController">

  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./"><span class="glyphicon glyphicon-heart"></span> DimSumSquad</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/comics">Browse</a></li>
          <li><a href="#">About</a></li>
        </ul>

        <form class="navbar-form navbar-left" role="search" method="get" action="/search">
          <div class="form-group" >
            <input type="text" class="form-control" placeholder="Search" name="query">
          </div>
          <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        </form>


        
        <ul class="nav navbar-nav navbar-right">
        <% if (!user) { %>
            <li><a href="/signup">Sign Up</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In<strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 20px; padding-bottom: 15px;">
              <!-- Login form here-->
              <form action="/login" method="post" accept-charset="UTF-8">
                <input class="form-control" id="username" style="margin-bottom: 15px;" type="text" name="email" size="50" placeholder="Email">
                <input class="form-control" id="password" style="margin-bottom: 15px;" type="password" name="password" size="50" placeholder="Password">
                <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="remember_me" value="1" />
                <label class="string optional" for="user_remember_me"> Remember me</label>

                <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
              </form>
            </div>
        <% } else { %>
            <li><a href="/profile">Welcome, <%= user.local.username %>!</a></li>
            <li class="divider-vertical"></li>
            <li><a href="/logout">Log Out</a></li>
        <% } %>
        </ul>
      
        </div>
      </div>
    </nav>

<!-- <div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="well">
      <form class="form-horizontal" action="/signup" method="post">
        <fieldset>
          <legend>Sign Up</legend>
          <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
          <% } %>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputEmail" placeholder="Email" name="email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPasswordConfirm" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Confirm Password" name="passwordConfirm">
            </div>
          </div>
          <div class="form-group">
            <label for="username" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="username" placeholder="Username" name="username">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
              <label>
                <input type="checkbox" name="contributor"> I would like to become a contributor.
              </label>
              <label>
                <input type="checkbox" name="terms"> I agree to the <a href data-toggle="modal" data-target="#conditions">terms and conditions</a>.
              </label>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>

          <hr>

          <p>Already have an account? <a href="/login">Login here</a>.</p>
          <p>Or go <a href="/">home</a>.</p>

        </fieldset>
      </form>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="well">
      <form class="form-horizontal">
        <fieldset>

          <legend>Sign Up</legend>

          <!-- Loading icon -->
          <p class="text-center" ng-show="loading">
            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
          </p>

          <div class="popover">Hey</div>

          <div class="form-group {{ usernameError }}">
            <label for="username" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="formData.username">
              <span class="label label-danger" ng-show="usernameFlash">That username is already taken.</span>
            </div>
          </div>
          
          <div class="form-group {{ emailError }}">
            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="formData.email">
              <span class="label label-danger" ng-show="emailFlash">That email has already been taken.</span>
              <span class="label label-danger" ng-show="emailInvalid">You entered an invalid email address.</span>
            </div>
          </div>

          <div class="form-group {{ passwordError }}">
            <label for="inputPassword" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="formData.password">
            </div>
          </div>

          <div class="form-group {{ passwordError }}">
            <label for="inputPasswordConfirm" class="col-lg-2 control-label"></label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPasswordConfirm" placeholder="Confirm Password" ng-model="formData.passwordConfirm">
              <span class="label label-danger" ng-show="passwordFlash">Oops! Your passwords do not match.</span>
            </div>
          </div>

          <div class="col-lg-10 col-lg-offset-2">
            <label>
              <input type="checkbox" ng-model="formData.contributor" id="contributor"> I would like to become a contributor.
            </label>
          </div>

          <div class="col-lg-10 col-lg-offset-2">
            <label>
              <input type="checkbox" ng-model="formData.terms" id="terms"> I agree to the <a href data-toggle="modal" data-target="#conditions">terms and conditions</a>.
            </label>
          </div>

          <br><br><br>

          <div class="col-lg-10 col-lg-offset-2 alert alert-danger" ng-show="termsFlash">
            <strong>Oh snap!</strong> Did you read the terms and conditions?
          </div>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary" ng-click="createUser()" id="submit">Submit</button>
            </div>
          </div>

          <hr>
          <p>Already have an account? <a href="/login">Login here</a>.</p>
          <p>Or go <a href="/">home</a>.</p>

        </fieldset>
      </form>
    </div>
  </div>
</div>

<!-- Terms and Conditions -->
<div id="conditions" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Terms and Conditions</h4>
      </div>
      <div class="modal-body">
        <div class="pre-scrollable">
          <h3>1. Terms</h3>
          <ol type="a">
            <li>
              By accessing this web site, you are agreeing to be bound by these 
              web site Terms and Conditions of Use, all applicable laws and regulations, 
              and agree that you are responsible for compliance with any applicable local 
              laws. If you do not agree with any of these terms, you are prohibited from 
              using or accessing this site. The materials contained in this web site are 
              protected by applicable copyright and trademark law.
            </li>
          </ol>

          <h3>2. Use License</h3>
          <ol type="a">
            <li>
              Permission is granted for personal, 
              non-commercial transitory viewing only. This is the grant of a license, 
              not a transfer of title, and under this license you may not:
              <ol type="i">
                <li>modify or copy the materials;</li>
                <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                <li>attempt to decompile or reverse engineer any software contained on Dimsum Squad's web site;</li>
                <li>remove any copyright or other proprietary notations from the materials; or</li>
                <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
              </ol>
            </li>
            <li>
              This license shall automatically terminate if you violate any of these restrictions and may be terminated by Dimsum Squad at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
            </li>
          </ol>

          <h3>3. Disclaimer</h3>
          <ol type="a">
            <li>
              The materials on Dimsum Squad's web site are provided "as is". Dimsum Squad makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Dimsum Squad does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.
            </li>
          </ol>

          <h3>4. Limitations</h3>
          <ol type="a">
            <li>
            In no event shall Dimsum Squad or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on Dimsum Squad's Internet site, even if Dimsum Squad or a Dimsum Squad authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
            </li>
          </ol>
                
          <h3>5. Revisions and Errata</h3>
          <ol type="a">
            <li>
            The materials appearing on Dimsum Squad's web site could include technical, typographical, or photographic errors. Dimsum Squad does not warrant that any of the materials on its web site are accurate, complete, or current. Dimsum Squad may make changes to the materials contained on its web site at any time without notice. Dimsum Squad does not, however, make any commitment to update the materials.
            </li>
          </ol>

          <h3>6. Links</h3>
          <ol type="a">
            <li>
            Dimsum Squad has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Dimsum Squad of the site. Use of any such linked web site is at the user's own risk.
            </li>
          </ol>

          <h3>7. Site Terms of Use Modifications</h3>
          <ol type="a">
            <li>
            Dimsum Squad may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.
            </li>
          </ol>

          <h3>8. Governing Law</h3>
          <ol type="a">
            <li>
            Any claim relating to Dimsum Squad's web site shall be governed by the laws of the State of Vancouver without regard to its conflict of law provisions.
            </li>
          </ol>

          <h2>Privacy Policy</h2>
          <p>
            Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.
          </p>
          <ul>
            <li>
              Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
            </li>
            <li>
              We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.   
            </li>
            <li>
              We will only retain personal information as long as necessary for the fulfillment of those purposes. 
            </li>
            <li>
              We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. 
            </li>
            <li>
              Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. 
            </li>
            <li>
              We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
            </li>
            <li>
              We will make readily available to customers information about our policies and practices relating to the management of personal information.
            </li>
          </ul>
          <p>
            We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained. 
          </p>    
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

    <!-- Bootstrap core JavaScript and IE10 viewport hack-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  </html>
