extends layout

block content
	h1= title1
	form#formAddUser(name="adduser",method="post",action="/adduser")
		input#inputUserName(type="text", placeholder="Username", name="username")
		br
		br
		input#inputUserEmail(type="text", placeholder="Email", name="useremail")
		br
		br
		input#inputUserPass(type="text", placeholder="Password",
		name="userpass")
		br
		br
		input#inputUserPassCheck(type="text", placeholder="Confirm Password", name="confirmpass")
		br
		br
		button#btnSubmit(type="submit") submit

	p
		a(href="/userlist").
			Back
